@font-face 
{
  font-family: 'OpenSans-Regular';
  src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body
{

  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
  margin:0 auto;

  max-width:900px;

}
#main
{
  display: flex;
  width:100%;

}
aside
{   
  display:flex;
  flex-direction:column;
  text-align:left;
  justify-content: center;
  background-color:#FECA07;
  width:30%;

}
.a_propos
{
  flex:1;
}
.padding_10
{
 padding: 10px;
}
aside .fas
{
 font-size:40px; 
 padding-left:1px;
 margin:0;
}


h1, h2
{
  font-family: 'OpenSans-Regular', 'Arial', sans-serif;
}

h1
{   
  margin-bottom:10px;
  text-align:left;
  font-size:50px;
}
h3{
  font-size:30px

}
header
{
  width:100%;
  display:flex;
}
header h3
{
  margin-bottom:5px;
}
.yellow
{
  color:#FECA07;
}
.yellow-line
{

  border-bottom:1px solid #FECA07;
}
img
{   

  border-radius:50%;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
}
.photo
{
  display:flex;
  justify-content:center;
  align-items:center;
}
aside h2
{
  text-align:center;
  background-color:#404040;
  color:#FECA07;
  
  margin:0;
  padding:5px;
}

.section-principale
{   
  padding:20px;
  width:80%;
  text-align:left;
  margin-left:20px;
}
.section-principale ul{
  padding: 0;
}
.section-principale .fas , .section-principale .far
{
  color:#FECA07;
  padding-left: 0;
}
h2 .fas{
    margin-right: 20px;
}

.li-flex 
{
 display:flex;
}
.list-left-part
{
  width:30%;
  
}

.list-left-part p 
{
  display:inline-block;
  float:left;
  
}
.list-left-part i 
{
  float:left;
  padding:20px;
  color:#FECA07;
}
.list-right-part
{
  width:70%;
  padding:20px;
}
.list-loisir
{
  text-align:center;
}
.list-loisir li
{
  width:50px;
  display:inline-block;
  margin:3px;
}

.list-part2
{

  width:50%;
  
}

h4,h5
{
  margin:0;
}
ul
{
  list-style-type: none;
}
hr
{
  color:#FECA07;
}
@media screen and (max-width:450px)
{
  #main
  {
    flex-direction: column-reverse;
  }
  header
  {
    flex-direction: column;
  }
  h1
  {
    text-align: center;
    margin:10px;
  }
  h3
  {
    margin:10px;
    font-size:25px;
  }
  aside
  {
    width:100%;
  }
  
  aside h2{
    width:100%;
    margin: 0;
    padding: 15px 0;
  }
  .section-principale
  {
    width:100%;
    padding:0;
  }
  .section-principale h2{
    padding: 20px;
    width: auto;
    font-size: 20px;
  }
  .li-flex 
  {
   flex-direction: column;
 }

 .list-right-part,.list-part2{
  padding:20px;
}

.list-left-part,.list-right-part,.list-part2
{
  width:auto;
  margin:0;
}
ul
{
 padding:0;
}
p
{
  width:auto;
}
}